## -----------------------------------------------------------------------------
## Encryption Demo Project                                  gocrypt/[.gitignore]
## (c) balarabe@protonmail.com                                      License: MIT
## -----------------------------------------------------------------------------

## binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

## test binary, build with `go test -c`
*.test

## output of the Go coverage tool, specifically when used with LiteIDE
*.out

## shell scripts and batch files
*.bat

## end
